body {
  background-color: #aeb7b3;
  font-family: 'Monserrat', Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

img {
  float: right;
  max-width: 20%;
  margin-right: 1em;
  padding-top: 1em;
}

h1 {
  font-family: 'Orbitron', Georgia, serif;
  text-align: center;
  margin-top: 1em;
  background-color: #efcb68;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
}

h2, h3, h4, h5, h6{
  font-family: 'Orbitron', Georgia, serif;
  text-align: center;
  margin-top: 1em;
}

footer {
  height: 70px;
  background-color: #efcb68;
  border: 1px solid;
  margin-top: 1em;
  padding-left: 0.5em;
  border-radius: 10px 10px 10px 10px;
}
