body {
  background-color: #aeb7b3;
  font-family: Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 1em;
  background-color: #efcb68;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
}

footer {
  height: 70px;
  background-color: #efcb68;
  border: 1px solid;
  margin-top: 1em;
  padding-left: 0.5em;
  border-radius: 10px 10px 10px 10px;
}
