@media only screen and (min-width: 32.5em) {
  .navi {
    display: flex;
  }
  .navi li {
    display: block;
    flex: 1 1 auto;
  }

  .navi a {
    text-align: center;
  }

  .ham {
    display: none;
  }
}
