h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Georgia, serif;
  text-align: center;
  margin-top: 1em;
}

body {
  background-color: #aeb7b3;
  font-family: "Noto Sans JP", Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 960px;
}

header img {
  height: 80px;
  float: left;
}

header h1 {
  text-align: left;
}

main {
  background-color: #efcb68;
  padding: 5px 25px;
  margin: 0 auto;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

nav {
  background-color: #e1efe6;
  line-height: 3em;
}

.navi {
  padding: 0;
  margin: 0;
}

.navi ul {
  list-style: none;
}

.navi li {
  display: none;
}

.navi a {
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

nav a:link {
  color: blue;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #efcb68;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.navi a:visited {
  color: gray;
}

.responsive li {
  display: block;
}

img {
  border-style: inset;
}

#heroContainer {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px auto;
}

#heroImg {
  max-width: 100%;
}

#weatherContainer {
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 20px;
  right: 20px;
}

#forecast {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px auto;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.weatherdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 0.1em;
}

#artImag {
  max-width: 100%;
}

footer {
  background-color: #e1efe6;
}

#mapImg {
  max-width: 98%;
}

.social {
  display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
