h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 1em;
}

body {
  background-color: #1c7c54;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1300px;
}

header img {
  height: 80px;
  float: left;
}

.article img {
  max-width: 100%;
  margin: 10px;
}

header h1 {
  text-align: left;
}

.text {
  max-width: 100%;
}

main {
  background-color: #fffbfe;
  padding: 5px 25px;
  margin: 0 auto;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

nav {
  background-color: #ba7ba1;
  line-height: 3em;
}

.navi {
  padding: 0;
  margin: 0;
}

.navi ul {
  list-style: none;
}

.navi li {
  display: none;
}

.navi a {
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

nav a:link {
  color: blue;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #efcb68;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.navi a:visited {
  color: white;
}

.responsive li {
  display: block;
}

#heroContainer {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px auto;
}

#heroContainer img {
  width: 100%;
  margin: 0 auto;
}

#weatherContainer {
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  background-color: #ba7ba1;
}

#forecast {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px auto;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.weatherdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 0.1em;
}

footer {
  background-color: #ba7ba1;
  padding: 5px;
}

#mapImg {
  max-width: 98%;
}

.social {
  display: none;
}

.gallery img {
  max-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.shadow {
  margin: 10px;
  border-style: none;
}

figcaption {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.clearfix {
  background-color: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

section {
  text-align: center;
  background-color: #ba7ba1;
  border: 1px solid;
  color: white;
}

.container {
  max-width: 100%;
  padding: 10px 10px;
}

.photos img {
  display: block;
  max-width: 100%;
  margin: auto;
  margin: 5% auto;
}

picture img {
  max-width: 100%;
}

.purpose {
  border: 2px solid #ba7ba1;
}

.action {
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(240, 240, 240, 0.8);
  margin: 1em 3em;
  padding: 1em;
  text-align: center;
}

.action button {
  line-height: 2em;
  width: 10em;
  background-color: #ee4266;
  font-size: 1.2em;
}

iframe {
  max-width: 100%;
}

fieldset {
  margin-bottom: 10%;
}
.top input {
  height: 44px;
  width: 100%;
  border-radius: 4px;
}

.top input:required {
  background-color: var(--accent-color);
  color: #ba7ba1;
}

.benefits {
  border: 2px solid #ba1ba7;
  border-radius: 5px;
  margin-bottom: 10%;
}

.benefits li {
  list-style: none;
}

input.submitBtn {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  margin-bottom: 10%;
}
